@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

#hero {
    height: 641px;
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#hero .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 608px;
    height: 350px;

}

#hero .hero-content img {
    width: 146px;
    height: 146px;
}

#hero .hero-content .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 800;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 19px;
}

#hero .hero-content .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 14px;
    margin-bottom: 19px;


}

#hero .hero-content .btn-container .contact-btn {
    padding: 13px 14px 13px 14px;
    border-radius: 5px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 600;
    line-height: 13px;
    letter-spacing: 0%;
    text-align: center;
    box-shadow: none;
    border: none;
}

/* Banner section ends here  */
/* Why web development starts here  */
.whyDevelopment {
    /* border-radius: 10px; */
    /* background: rgba(13, 19, 33, 0.02); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.whyDevelopment .container {
    width: 695px;
    height: 850px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 137px;

}

.whyDevelopment .container .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 48px;
}

.whyDevelopment .container .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 14px;
    margin-bottom: 29px;
}

.whyDevelopment .container .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;

    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-left: 59px;
    margin-right: 59px;
    height: 204px;
    width: 577px;
    gap: 59px;
}

#secondcard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;

    background: linear-gradient(270.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    margin-left: 59px;
    margin-right: 59px;
    height: 204px;
    width: 577px;
    gap: 59px;
}

.whyDevelopment .container .card .info .title1 {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.whyDevelopment .container .card .info .description {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 19px;
}

.whyDevelopment .container .card .info .btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 7px 12px 7px 12px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
}

.whyDevelopment .container .card img {
    width: 157px;
    height: 132px;
}

.whyDevelopment .container .card .info {

    width: 290px;
    height: 133px;
}

/* Why web development ends here  */

/* my inspiration section starts here   */
.my-inspiration {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 695px;
height: 374px; */
}

.my-inspiration .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 14px;
}

.my-inspiration .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 21px;
}

.my-inspiration .video {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 10px;
    width: 695px;
    height: 374px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.my-inspiration .video iframe {
    border-radius: 16px;

    background: url(https://youtu.be/YicpcicZRYg?si=Rz8-ARHCmbuVoeCI);
    width: 656px;
    height: 335px;
}

/* my inspiration section ends here  */
/* my current target ends HERE */
.current-target {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
}

.current-target .info {
    width: 519px;
    height: 68px;
    margin-bottom: 48px;


}

.current-target .info .title {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 14px;
}

.current-target .info .subtitle {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 21px;

}

.current-target .card-container {
    width: 695px;
    display: flex;
    gap: 14px;
    margin-bottom: 67px;
}

.current-target .card-container .card {
    border-radius: 10px;

    background: rgba(255, 76, 30, 0.05);
    width: 220px;
    height: 180px;
    padding-left: 24px;
    padding-right: 24px;
}

.current-target .card-container .card img {
    width: 34px;
    height: 34px;
    margin-top: 24px;
    margin-bottom: 14px;
}

.current-target .card-container .card h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 5px;
}

.current-target .card-container .card p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 14px;

}

.current-target .card-container .card a {
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 10px;
    font-weight: 700;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}

#css {
    background: rgba(0, 76, 232, 0.05);
}

#js {
    background: rgba(255, 223, 0, 0.05)
}

/* my current target ends HERE */
/* i need support section starts here */
label{
    display: flex;
    gap: 13px;
}
.need-support{
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}
.need-support .content{
    align-self: center;
    width: 680px;
    height: 180px;
    background-image: url("../assets/handshake.jpg");
    background-size:contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;

 background-color: rgba(0, 0, 0, 0.3);
 background-blend-mode: overlay;
}
.need-support .content .title{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 19px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
padding-top: 38px;
margin-bottom: 10px;
}
.need-support .content .subtitle{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 14px;
}
#supporttext {
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 5px;
width: 350px;
height: 34px;
background: rgb(255, 255, 255);
font-color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 10px;
font-weight: 400;
line-height: 11px;
letter-spacing: 0%;
text-align: left;
padding: 11px 12px 11px 12px;


}

#submit{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 12px;
font-weight: 600;
line-height: 12px;
letter-spacing: 0%;
text-align: center;
border-radius: 5px;
padding: 11px 12px 11px 12px;
background: rgb(255, 255, 255);
border: none;
}
/* i need support section ends here */